.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
.env
.env.prod

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Due to redirecting the upload output, dumping it in the public folder
public/

envs/*
build/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
